@import '../variables';

.container-logo {
    max-width: 250px;
    max-height: 250px;
    margin-top: 20px;
    @include tablet{
        max-width: 200px;
        max-height: 200px;
    }
    @include mobile{
        padding-top: 20px;
        max-width: 200px;
        max-height: 200px;
        margin: auto;
    }
}
.logo {
    max-width: 100%;
    max-height: 100%;
}
.header {
    display: flex;
    justify-content: space-around;
    @include tablet{
        padding: 0 20px;
    }
    @include mobile{
        padding: 0 10px;
        display: block;
    }
}
.title {
    margin-top: 60px;
    font-family: $font;
    font-size: 40px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: $titleColor;
    text-align: center;
    margin-bottom: 10px;
    @include tablet{
        margin-top: 40px;
        font-size: 2em;
    }
    @include mobile{
        font-size: 1.5em;
        line-height: 1em;
        margin-top: 20px;
        text-align: center;
    }
}
.text {
    font-family: $font;
    font-size: 20px;
    line-height: 15px;
    color: $subtitleColor;
    @include tablet{
        text-align: center;
    }
    @include mobile{
        font-size: 1em;
        margin-bottom: 20px;
    }
}