@import '../variables';

.container-logo {
    max-width: 250px;
    max-height: 250px;
    margin-top: 20px;
}
.logo {
    max-width: 100%;
    max-height: 100%;
}
.header {
    display: flex;
    justify-content: space-around;
}
.title {
    margin-top: 60px;
    font-family: $font;
    font-size: 40px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: $titleColor;
    text-align: center;
    margin-bottom: 10px;
}
.text {
    font-family: $font;
    font-size: 20px;
    line-height: 15px;
    color: $subtitleColor;
}