//Colores
$titleColor: #3f6c92;
$subtitleColor: #659aba; 
$backgroundColor: #f5f5f5;
$textColor: #757575;
$colorFooter: #2f3945;

//Fuente
$font:'Raleway', sans-serif;

//Mixins
@mixin laptop {
    @media only screen and (max-width: 1024px){
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: 768px){
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: 425px){
        @content;
    }
}